<ion-view view-title="{{'sessions.TITLE' | translate}}">
  <ion-nav-buttons side="right">
    <a class="button button-clear button-positive" ui-sref="tab.new-session">+ {{'sessions.ADD' | translate}}</span> </a>
  </ion-nav-buttons>

  <ion-content class="padding">
    <ion-list class="list-inset" can-swipe="true">
      <ion-item collection-repeat="session in $ctrl.sessions"
                class="item-remove-animate item-icon-right"
                type="item-text-wrap"
                ui-sref="tab.session({sessionId: session.id})">
        <h2>{{session.title}}</h2>
        <p am-time-ago="session.date"></p>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="$ctrl.remove(session)" translate>
        sessions.list.item.DELETE
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
