<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Sessions Tab -->
  <ion-tab title="{{'tabs.SESSIONS_TITLE' | translate}}" icon-off="ion-tab-fa-bars" icon-on="ion-tab-fa-bars" href="#/tab/sessions">
    <ion-nav-view name="tab-sessions"></ion-nav-view>
  </ion-tab>

  <!-- Count Tab -->
  <ion-tab title="{{'tabs.COUNT_TITLE' | translate}}" icon-off="ion-tab-fa-microphone" icon-on="ion-tab-fa-microphone" href="#/tab/counter">
    <ion-nav-view name="tab-counter"></ion-nav-view>
  </ion-tab>

  <!-- Words Tab -->
  <ion-tab title="{{'tabs.WORDS_TITLE' | translate}}" icon-off="ion-tab-fa-font" icon-on="ion-tab-fa-font" href="#/tab/words">
    <ion-nav-view name="tab-words"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="{{'tabs.SETTINGS_TITLE' | translate}}" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
